
.content{
    text-align: center;
    max-width: 100%;
}
.card{ 
    max-width: 310px;
    margin: 120px 25px;
    max-height: 250px;
    height: 250px;
    background-color: var(--gris);
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
}

.image{
    background-size: cover;
    background-repeat: no-repeat;
    height: 12rem;
    z-index: -10;
    border-radius: 30px 30px 0 0;
    background-position: right center;
}

.imagen-1{
    background-image: url("../assets/bg-batman.jpg");
}

.imagen-2{
    background-image: url("../assets/bg-harley.png");
}

.texto{
    position: relative;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: var(--gris);
    height: 23rem;
    
}

.profile{
    width: 8rem;
    height: 8rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 0;
    box-shadow: 1px 2px 6px rgb(0 0 0 / 80%);
    
}
.batman{
    background-image: url("../assets/batman.jpg");
    background-size: 250%;
    background-position: 58% top;
}

.harley{
    background-image: url("../assets/harley.png");
    background-position: top center;
    background-size: cover;
}

h2 {
    padding-top: 91px;
    font-weight: 400;
    font-size: 34px;
}
.texto p {
    padding: 10px 21px;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #333;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 430;
}
.texto a{
    background-color: var(--azul);
    color: #fff;
    padding: 18px 50px;
    font-size: 1rem;
}
.texto a:hover {
    background-color: var(--verde);
}

img.corazon {
    float: left;
    padding: 20px;
    width: 30px;
}


