@media (max-width: 720px){
    main {
        height: 90vh;
    }

    section.formulario {
        width: 80%;
    }

    header div{
        display: flex;
        align-items: center;
    }

    header h1 {
        font-size: 20px;
    }

    .card {
        margin: 48px 25px 324px;
    }

    .texto p {
        margin-bottom: 35px;
    }

    .texto a {
        padding: 13px 40px;
    }

    main.index{
     
        height: 235vh;
    }

    main.detail-bg {
        background-position: center;
        height: 96vh;
    }
    .card-info{
        height: 500px;
    }
    .card-info p {
        font-size: 13px;
        line-height: 19px;
    }

    .iconos-content img {
        padding: 10px 10px;
    }

    .button-tohome{
        border-radius: 0 0 13px 13px;
    }
    .card-content h3 {
        font-size: 1.1rem;
        padding: 10px;
    }

    .card-content h1 {
        font-size: 2.3rem;
        line-height: 2rem;
        padding: 20px
    }

    fieldset{
        flex-direction: column;
    }
    .card-content{
        width: 85%;
    }

    .card-content label {
        width: 100%;
    }

    textarea#descripcion, div.check-radio {
        width: 100%;
    }
    .check-radio {
        margin-top: 20px;
    }

    main.form {
        height: 170vh;
    }

    .card-content input.añadir{
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 360px){
    .texto p {
        margin-bottom: 27px;
        font-size: 0.9rem;
    }

    .card-info {
        max-height: 600px;
        height: 550px;
    }

    .card-info p {
        font-size: 12.7px;
        line-height: 18px;
    }

    .card-content{
        width: 90%;
    }
}
